@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
body {
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.sign-widget {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sign-widget h2 {
  margin-bottom: 20px;
  text-align: center;
}
.sign-widget form {
  display: flex;
  width: 390px;
  flex-wrap: wrap;
}
.sign-widget form label {
  font-weight: 500;
  font-size: 14px;
}
.sign-widget form p {
  width: 100%;
  font-size: 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: 500;
  margin: 0;
}
.sign-widget form p a {
  color: #28a745;
  cursor: pointer;
  text-decoration: none;
}
.sign-widget form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  height: 20px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
}
.sign-widget form button {
  width: 155px;
  padding: 10px;
  background-color: #333;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  height: 40px;
  font-weight: 700;
  margin-top: 20px;
  font-size: 13px;
}
.sign-widget form button:hover {
  background-color: #333;
}
.sign-widget .error_msg {
  color: red;
  text-align: left;
  font-size: 14px;
}
.sign-widget .done_msg {
  color: #28a745;
  text-align: left;
  font-size: 14px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topnav .nav-left {
  display: flex;
  align-items: center;
}
.topnav .nav-left .vector {
  width: 30px;
  height: 30px;
  background-color: #FFF;
  border-radius: 50%;
  margin-right: 10px;
}
.topnav .nav-left .name {
  font-size: 18px;
  color: #FFF;
  margin-right: 20px;
}
.topnav .nav-right {
  display: flex;
  align-items: center;
}
.topnav .nav-right a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s;
  font-size: 16px;
  width: 115px;
  height: 35px;
  background: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
}
.topnav .nav-right a:hover {
  background-color: #FFF;
  color: #333;
}

.address_content {
  padding: 0;
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
  background: #FFF;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2705882353);
  border-radius: 3px;
  overflow: hidden;
}
.address_content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.address_content header .search {
  width: 260px;
  height: 35px;
  float: left;
  margin: 6px 0;
  margin-left: 7px;
  position: relative;
}
.address_content header .search button {
  position: absolute;
  top: 8px;
  right: 7px;
  background: none;
  cursor: pointer;
  border: 0;
  padding: 0;
}
.address_content header .search button:hover svg {
  fill: #29d786;
}
.address_content header .search button svg {
  transition: all 0.2s;
  width: 15px;
}
.address_content header .search input {
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 14px;
  text-indent: 5px;
}
.address_content header .buttons button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}
.address_content header .buttons .add-contact {
  background-color: #29d786;
  color: #ffffff;
}
.address_content header .buttons .export-contacts {
  background-color: #fdbd0c;
  color: #ffffff;
}
.address_content table {
  width: 100%;
  border-collapse: collapse;
}
.address_content table th, .address_content table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #cccccc;
}
.address_content table th {
  background-color: #f2f2f2;
}
.address_content table .initials {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}
.address_content table tbody tr:last-of-type td {
  border-bottom: 0;
}
.address_content table tbody tr td .btns {
  display: flex;
  grid-gap: 10px;
}
.address_content table tbody tr td .btns button {
  padding: 9px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #29d786;
  color: #FFF;
  transition: all 0.2s;
}
.address_content table tbody tr td .btns button:last-of-type {
  background-color: rgb(247, 28, 28);
}
.address_content table tbody tr td .btns button:last-of-type:hover {
  background-color: #cd0909;
}
.address_content table tbody tr td .btns button:hover {
  background-color: #28a745;
}/*# sourceMappingURL=main.css.map */