@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

$color_1: #fff;
$font-family_1: "Roboto", sans-serif;
$background-color_1: #f4f4f4;
$background-color_2: #fff;
$background-color_3: #333;
$background-color_4: #333;

body {
	font-family: $font-family_1;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $background-color_1;
}
// Sign in & Sign up
.sign-widget {
	background-color: $background-color_2;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	h2 {
		margin-bottom: 20px;
    text-align: center;
	}
	form{
		display: flex;
		width: 390px;
		flex-wrap: wrap;
		label{
			font-weight: 500;
			font-size: 14px;
		}
		p{
			width: 100%;
			font-size: 13px;
			user-select: none;
			font-weight: 500;
			margin: 0;
			a{
				color: #28a745;
				cursor: pointer;
				text-decoration: none;
			}
		}
		input {
			width: 100%;
			padding: 10px;
			margin: 10px 0;
			font-size: 14px;
			height: 20px;
			border: 1px solid #ccc;
			outline: none;
			border-radius: 5px;
		}
		button {
			width: 155px;
			padding: 10px;
			background-color: #333;
			border: none;
			color: #fff;
			border-radius: 5px;
			cursor: pointer;
			margin: 0 auto;
			height: 40px;
			font-weight: 700;
			margin-top: 20px;
			font-size: 13px;
			&:hover {
				background-color: $background-color_4;
			}
		}
	}
	.error_msg{
		color: red;
    text-align: left;
    font-size: 14px;
	}
	.done_msg{
		color: #28a745;
    text-align: left;
    font-size: 14px;
	}
}
// Home
.topnav {
	background-color: #333;
	overflow: hidden;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.nav-left {
		display: flex;
		align-items: center;
		.vector {
			width: 30px;
			height: 30px;
			background-color: #FFF;
			border-radius: 50%;
			margin-right: 10px;
		}
		.name {
			font-size: 18px;
			color: #FFF;
			margin-right: 20px;
		}
	}
	.nav-right {
		display: flex;
		align-items: center;
		a {
			text-decoration: none;
			color: #fff;
			transition: all 0.2s;
			font-size: 16px;
			width: 115px;
			height: 35px;
			background: none;
			border-radius: 3px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			border: 0;
			&:hover {
				background-color: #FFF;
				color: #333;
			}
		}
	}
}
.address_content {
	padding: 0;
	width: 95%;
	margin: 0 auto;
	margin-top: 50px;
	background: #FFF;
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2705882353);
	border-radius: 3px;
	overflow: hidden;
	header {
		display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
		.search{
			width: 260px;
			height: 35px;
			float: left;
			margin: 6px 0;
			margin-left: 7px;
			position: relative;
			button{
				position: absolute;
				top: 8px;
				right: 7px;
				background: none;
				cursor: pointer;
				border: 0;
				padding: 0;
				&:hover svg{
					fill: #29d786;
				}
				svg{
					transition: all .2s;
					width: 15px;
				}
			}
			input {
				border: 1px solid #cccccc;
				border-radius: 4px;
				width: 100%;
				height: 100%;
				outline: none;
				font-size: 14px;
				text-indent: 5px;
			}
		}
		.buttons {
				button {
						padding: 10px 20px;
						font-size: 16px;
						border: none;
						border-radius: 4px;
						cursor: pointer;
						margin-left: 10px;
				}
				.add-contact {
						background-color: #29d786;
						color: #ffffff;
				}
				.export-contacts {
						background-color: #fdbd0c;
						color: #ffffff;
				}
		}
	}
	table {
		width: 100%;
		border-collapse: collapse;
		th, td {
				padding: 10px;
				text-align: left;
				border-bottom: 1px solid #cccccc;
		}
		th {
				background-color: #f2f2f2;
		}
		.initials {
			display: inline-block;
			width: 30px;
			height: 30px;
			line-height: 30px;
			border-radius: 50%;
			text-align: center;
			color: #ffffff;
			margin-right: 10px;
			font-size: 14px;
			font-weight: 500;
		}
		tbody tr {
			&:last-of-type td{
				border-bottom: 0;
			}
			td .btns{
				display: flex;
				grid-gap: 10px;
				button{
					padding: 9px 20px;
					font-size: 14px;
					border: none;
					border-radius: 4px;
					cursor: pointer;
					background: #29d786;
					color: #FFF;
					transition: all .2s;
					&:last-of-type{
						background-color: rgb(247, 28, 28);
						&:hover{
							background-color: #cd0909;
						}
					}
					&:hover{
						background-color: #28a745;
					}
				}
			}
		}
	}
}